@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Noto+Sans+Myanmar:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_primary {
  padding: 0.5em 1em;
  border-radius: 8px;
  background-color: #00d7ff;
}

.swiper-content {
  background-color: red;
}

.swiper-button-next {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #cbd5e1;
  right: 16px;
}

.swiper-button-next::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/arrow-right.svg");
}
.swiper-button-prev {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #cbd5e1;
  left: 16px;
}

.swiper-button-prev::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/arrow-left.svg");
}
