@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.btn_primary {
  padding: 0.5em 1em;
  border-radius: 8px;
  background-color: #00d7ff;
}
