@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Noto+Sans+Myanmar:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_primary {
  padding: 0.5em 1em;
  border-radius: 8px;
  background-color: #00d7ff;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}
